@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NavBar Seaction */
.container {
    width: 100%;
    height: 100vh;
    padding: 20px 100px 30px 100px;
    background-color: #00000011;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .form {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: white;
    width: 24%;
    height: 46px;
    border-radius: 26px;
    padding: 0px 11px 0px 11px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar .form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 9px;
    font-size: 14.6px;
}

.navbar .form .gps {
    font-size: 18.3px;
}
.navbar .form button {
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.navbar .form .search {
    font-size: 17px;
}

.navbar .mosque {
    color: black;
    margin-right: 15px;
    font-size: 45px;
}

/* Main Section */

.main {
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    height: 92%;
}

.main .picture {
    border-radius: 15px 15px 0 0;
    background: url(images/david-rodrigo-kZ1zThg6G40-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 83%;
    width: 100%;
    padding: 20px 0 0 25px;
    position: relative;
}

.main .picture .day h3 {
    color: white;
    font-size: 26px;
    margin-right: 5px;

}

.main .picture .day i {
    color: white;
    font-size: 23px;
}

.main .picture .day .local {
    color: rgba(255, 255, 255, 0.792);
    font-size: 16px;
}

.main .picture .day p {
    color: rgba(255, 255, 255, 0.792);
    font-size: 16px;
    margin-left: 3px;
}

.main .picture h1 {
    width: 100%;
    color: white;
    font-size: 33px;
    position: absolute;
    bottom: 10px;
}

.main .data {
    height: 17%;
    border-radius: 0 0 15px 15px;
    padding: 10px;
}

.main .data .prayers {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .data .prayers .pray img {
    width: 38px;
}
.main .data .pray {
    background-color: #d7d7d79e;
    width: 16.2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.7s;
}

.main .data .pray .info {
    margin-left: 8px;
}

.main .data .pray h3 {
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 18px;
}

.main .data .pray p {
    margin-bottom: 2px;
    font-size: 16px;
}

.main .data .pray:hover {
    transform: scale(1.03);
    border: 2px solid black;
    background-color: #d7d7d79c;
}

